/*This just makes the scrolling smooth instead of a "jump"*/
html 
{
    scroll-behavior: smooth;
    /* Changed to percentage to hopefully be better for mobile */
    scroll-padding-top: 10%;
}

/* Body segment decoration */
body
{
    background-color: rgb(63, 132, 199);
     /* who knew fixing the nav bar was that easy lol */
     margin: 0;
}
header
{
    background-color: rgb(7, 56, 99);
    /*May need to be bolded, we'll see*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
main
{
    font-family: 'Oswald', 'Times New Roman';
    font-size: large;
    color: black;
    font-weight: bold;
}

/* Element Decoration */
a 
{
    color: rgb(38,230,252);
    font-weight: normal;
}
/*I did beige instead of green, looks better honestly*/
a:hover
{
    color: rgb(245, 245, 220);
}
button
{
    background-color: rgb(13,82,149);
    color: rgb(38,230,252);
}

/* class decoration */
.SectionFlexContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
}
.SectionFlexItem
{
    /* may change to margin-bottom if this doesn't work */
    margin-top: 3.8%;
    /*changed to percentage since it looks atrocious on mobile*/
    width: 60%;
}
.navFlexContainer
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /*if this spacing doesn't work margin can be specified for different areas around something (left, right, etc.)*/
    justify-content: space-around;
    
    /* this is so its always at the top of the page, I.E it scrolls with the user */
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%; 
    background-color: rgb(7,56,99);
}
.navflexitem
{
    font-size: xx-large;
    color: black;
    text-decoration: none;
    padding: 0.3em;
}
.CertificationFlexContainer
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.CertificationFlexitem
{
    margin: 1em;
}

.CertificationFlexitem img
{
    /* The images are essentially "fighting" to be as big as possible
    The best solution I have rn is making the max smaller */
    max-width: 16rem;
}
.CertificationFlexitem img:hover
{
    display: inline-block;
    opacity: 0.5;
}
.codingDemonstration
{
    color: whitesmoke;
    font-weight: normal;
}

/* ID decoration */
#PersonalInfoDiv
{
    background-color: rgb(28,68,137);
    text-align: right;
}
#PersonalInfoDiv img
{
    float: left;
    margin: 1.6rem;
}
#BuisnessThingsDiv
{
    background-color: rgb(47,91,164);

}
#GithubLinksDiv
{
    background-color: rgb(24,57,111);
    text-align: left;
}
#GithubLinksDiv img
{
    float: right;
    margin: 2rem;
    max-width: 30%;
}
#GithubLinksDiv img:hover
{
    display: inline-block;
    opacity: 0.5;
}

/*I tried to get a custom font...to no sucess*/
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/oswald/v49/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUhiZTaR.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }


/*Produced by Ethan Witter/*